Gravity Modeling

In [3]:
import pandas as pd

In [4]:
# func calculating distance between two census tracts

import math
def getDistanceFromLatLonInMiles(lat1,lon1,lat2,lon2):
  R = 6371 # Radius of the earth in km
  dLat = deg2rad(lat2-lat1)  # deg2rad below
  dLon = deg2rad(lon2-lon1) 
  a = math.sin(dLat/2) * math.sin(dLat/2) + math.cos(deg2rad(lat1)) * math.cos(deg2rad(lat2)) * math.sin(dLon/2) * math.sin(dLon/2)
    
  c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a)) 
  d = R * c # Distance in km
  return d * 0.621371
def deg2rad(deg):
  return deg * (math.pi/180)

In [5]:
pop = pd.read_csv('2018_Pop_IL.csv')
pop = pop.drop(labels = 0)
pop.columns = ['GEOID', 'NAME', 'POP', 'ME']
pop = pop.loc[:,('GEOID','NAME','POP')]
pop.loc[:,'GEOID'] = pop.loc[:,'GEOID'].apply(lambda x : x[9:])
pop

            GEOID                                           NAME   POP
1     17031823705    Census Tract 8237.05, Cook County, Illinois  4831
2     17169970300   Census Tract 9703, Schuyler County, Illinois  1705
3     17007010400       Census Tract 104, Boone County, Illinois  6720
4     17031812900       Census Tract 8129, Cook County, Illinois  4579
5     17043841326  Census Tract 8413.26, DuPage County, Illinois  3153
...           ...                                            ...   ...
3119  17031081700        Census Tract 817, Cook County, Illinois  3831
3120  17095000100          Census Tract 1, Knox County, Illinois  3011
3121  17031480400       Census Tract 4804, Cook County, Illinois  5584
3122  17197880903    Census Tract 8809.03, Will County, Illinois  2617
3123  17043840904  Census Tract 8409.04, DuPage County, Illinois  4457

[3123 rows x 3 columns]

In [6]:
import geopandas as gp
tracts = gp.read_file('tl_2019_17_tract.shp')
tracts = tracts.loc[:,('GEOID','geometry')]
centroids = tracts.centroid
centroids = centroids.to_crs(epsg = 4326)
tracts.geometry = centroids
tracts

            GEOID                    geometry
0     17091011700  POINT (-87.87355 41.12949)
1     17091011800  POINT (-87.87646 41.13978)
2     17119400951  POINT (-90.09829 38.72763)
3     17119400952  POINT (-90.08180 38.72984)
4     17135957500  POINT (-89.60391 39.38915)
...           ...                         ...
3118  17037000100  POINT (-88.65253 42.10661)
3119  17037001500  POINT (-88.73721 41.88417)
3120  17037000400  POINT (-88.68023 42.02216)
3121  17037000300  POINT (-88.86924 41.96281)
3122  17037000200  POINT (-88.82573 42.11145)

[3123 rows x 2 columns]

In [7]:
merged = tracts.merge(pop, on = 'GEOID')
merged.to_file('merged.shp')
merged

,GEOID,geometry,NAME,POP
0,17091011700,POINT (-87.87355 41.12949),"Census Tract 117, Kankakee County, Illinois",3688
1,17091011800,POINT (-87.87646 41.13978),"Census Tract 118, Kankakee County, Illinois",2623
2,17119400951,POINT (-90.09829 38.72763),"Census Tract 4009.51, Madison County, Illinois",5005
3,17119400952,POINT (-90.08180 38.72984),"Census Tract 4009.52, Madison County, Illinois",3014
4,17135957500,POINT (-89.60391 39.38915),"Census Tract 9575, Montgomery County, Illinois",2869
...,...,...,...,...
3118,17037000100,POINT (-88.65253 42.10661),"Census Tract 1, DeKalb County, Illinois",6559
3119,17037001500,POINT (-88.73721 41.88417),"Census Tract 15, DeKalb County, Illinois",3811
3120,17037000400,POINT (-88.68023 42.02216),"Census Tract 4, DeKalb County, Illinois",9034
3121,17037000300,POINT (-88.86924 41.96281),"Census Tract 3, DeKalb County, Illinois",2693
3122,17037000200,POINT (-88.82573 42.11145),"Census Tract 2, DeKalb County, Illinois",5069

In [212]:
# populate horizontal header for matrix
import numpy as np
import math
matrix = []
row = []
row.append(0)
h = merged.loc[:,'GEOID'].astype(np.int64).values.tolist() # horizontal header
row = row + h
matrix.append(row)

In [213]:
# populate rest of the rows
centroids = merged.loc[:,'geometry']
pop = merged.loc[:, 'POP'].astype(np.int64)
length = len(merged)
for i in range(length):
    row = []
    row.append(merged.loc[:,'GEOID'].astype(np.int64).iloc[i]) # vertical header for matrix
    for j in range(length):
        first = centroids.iloc[i]
        second = centroids.iloc[j]
        dist = getDistanceFromLatLonInMiles(first.y, first.x, second.y, second.x)
        gravity = math.inf if dist == 0 else pop.iloc[i] * pop.iloc[j] /(dist ** 2)
        row.append(gravity)
    matrix.append(row)

In [214]:
# export the matrix to an excel file

import pandas as pd
mdf = pd.DataFrame(matrix)
writer = pd.ExcelWriter('gravity_model_matrix.xlsx', engine='xlsxwriter')
mdf.to_excel(writer,sheet_name='gravity model matrix',index=False)
writer.save()

In [54]:
from itertools import combinations
# START_X, START_Y, END_X, END_Y, GRAVITATION

flow = []
for elem in list(combinations(merged.values,2)):
    row = []
    start = elem[0][1]     # 1's index is point
    end = elem[1][1]       # 1's index is point
    row.append(start.x)
    row.append(start.y)
    row.append(end.x)
    row.append(end.y)
    d = getDistanceFromLatLonInMiles(start.y, start.x, end.y, end.x)
    pop1 = (int) (elem[0][-1])     # last index is pop
    pop2 = (int) (elem[1][-1])     # last index is pop
    gravity = pop1 * pop2 /(d ** 2)
    row.append(gravity)
    flow.append(row)

[[-87.8735501307837,
  41.129489299336534,
  -87.8764599954012,
  41.139776758646406,
  18315755.915455572],
 [-87.8735501307837,
  41.129489299336534,
  -90.09829358278783,
  38.72762946159417,
  445.5566481421516],
 [-87.8735501307837,
  41.129489299336534,
  -90.08179943088005,
  38.729837798131015,
  269.98287567167245],
 [-87.8735501307837,
  41.129489299336534,
  -89.60390631764184,
  39.38914905372138,
  464.4628577308046],
 [-87.8764599954012,
  41.139776758646406,
  -90.09829358278783,
  38.72762946159417,
  315.3840922567502],
 [-87.8764599954012,
  41.139776758646406,
  -90.08179943088005,
  38.729837798131015,
  191.09940172336692],
 [-87.8764599954012,
  41.139776758646406,
  -89.60390631764184,
  39.38914905372138,
  328.2887345388124],
 [-90.09829358278783,
  38.72762946159417,
  -90.08179943088005,
  38.729837798131015,
  18539118.89829992],
 [-90.09829358278783,
  38.72762946159417,
  -89.60390631764184,
  39.38914905372138,
  5141.9002286964715],
 [-90.08179943088005,
  38.729837798131015,
  -89.60390631764184,
  39.38914905372138,
  3164.5510884135133]]

Test Cases:

In [ ]:
pop117 = merged[merged['GEOID'].values == '17091011700'].loc[:,'POP'].astype(np.int64).iloc[-1]
pop117

In [177]:
pop118 = merged[merged['GEOID'].values == '17091011800'].loc[:,'POP'].astype(np.int64).iloc[-1]
pop118

2623

In [194]:
first = merged[merged['GEOID'].values == '17091011700'].loc[:,'geometry'].iloc[0]
first

In [195]:
second = merged[merged['GEOID'].values == '17091011800'].loc[:,'geometry'].iloc[0]
second

In [196]:
d0 = getDistanceFromLatLonInMiles(first.y, first.x, second.y, second.x)
d0

0.726745209738065

In [198]:
gravity = pop117 * pop118 / (d0 ** 2)
gravity

18315755.915455572